.cartItem {
    display: flex;
    padding: 20px;
    border-bottom: solid 1px lightgray;
}

.cartItem__image > img {
    width: 200px;
    object-fit: contain;
    margin-right: 20px;
}

.cartItem__rating {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cartItem__details > p {
    font-weight: bold;
    font-size: 20px;
}

.cartItem__button > button {
    margin-top: 20px;
    border-radius: 20px;
    border: solid 1px black;
    padding: 10px 20px;
    background: #00deff;
}
