.checkoutButton__link {
    text-decoration: none;
    color: black;
}

.checkoutButton__link > button {
    margin-top: 20px;
    border-radius: 20px;
    border: solid 1px black;
    padding: 10px 20px;
    background: #00deff;
}
