.checkoutButton__link > button {
    /* padding: 10px 20px;
    margin-top: 20px;
    border-radius: 30px; */
    margin-top: 20px;
    border-radius: 20px;
    border: solid 1px black;
    padding: 10px 20px;
    background: #00deff;
}

.btn {
    text-decoration: none;
    color: black;
}
