.button__link {
    text-decoration: none;
    color: black;
}

.home__button {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px lightgray;
}

.button__link > button {
    text-align: center;
    padding: 10px 50px;
    margin: 5px;
    font-size: 15px;
}
.button__link > button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
    background-color: cyan;
}
