.home {
    /* background-color: #fffacd; */
    min-height: 100vh;
}

.home__button {
    align-items: center;
    justify-content: center;
}

.home__content {
    margin-left: 80px;
    margin-top: 20px;
}

.home__content > h1 {
    margin-left: -60px;
}

.home__search {
    display: flex;
    align-items: center;
    /* background-color: #eff2f5; */
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px;
    border-radius: 999px;
    margin-top: 0px;
    /* position: sticky; */
    margin-top: 20px;
}

.home__search > form {
    display: flex;
    width: 100%;
}

.home__search > form > input {
    border: none;
    width: 100%;
    background-color: transparent;
    outline-width: 0;
    font-size: 18px;
    margin-left: 10px;
}

.home__search > button {
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 999px;
    font-weight: bold;
}

.home__link {
    text-decoration: none;
    color: black;
}

.home__buttonColumn {
    display: flex;
    margin: auto;
}
